<div 
dragula="VIDEOS"
[(dragulaModel)]="videoService.related_videos" 
class="related-holder"
id="RELATED_VAMPIRES">
	<div
		*ngFor="let video of videoService.related_videos"
	>
		<app-video
			[type]="'related'"
			[video]="video">
		</app-video>
	</div>
</div>
<div 
	*ngIf="! videoService.related_videos.length" 
	class="related-holder-title">
	Related Videos
</div>
