.search-holder{
	margin-top: 10px;
	width: 100%;
	height: 150px;
	background-color: white;
	display: inline-flex;
	overflow-x: scroll;
	overflow-y: hidden;
	
}
.search-holder-title{
	text-align: center;
	color: gray;
	font-size: 100px;
	position: absolute;
	top: 90px;
	left: 0px;
	width: 100%;
	padding-top: 10px;
	opacity: 0.5;
	cursor: default;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}
