<div 
dragula="VIDEOS"
[(dragulaModel)]="videoService.search_videos" 
class="search-holder">
	<div
		*ngFor="let video of videoService.search_videos"
	>
		<app-video
			[type]="'search'"
			[video]="video">
		</app-video>
	</div>
</div>
<div 
	*ngIf="! videoService.search_videos.length" 
	class="search-holder-title">
	Search Results
</div>
