.player {
	position:fixed;
	bottom: -115px;
	margin-left: 95px;;
	width: 894px;
	height: 300px;
	border-color: black;
	border-width: 3px;
	border-style: solid;
	border-radius: 50px;
	padding-left: 50px;
	padding-right: 50px;
	border-bottom: none;
	background-color: mediumblue;
}
.player-title {
	float: left;
	font-size: 20px;
	text-overflow: hidden;
	color: white;
	padding: 10px;
	width:550px;
}
.player-button {
	font-size: 40px;
	color: white;
	width: 80px;
	height: 50px;
	background-color: black;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	margin-left: 16px;
	margin-top: 10px;
}
.player-button:hover{
	color: gray;
}
.player-thumb{
	border-color: white;
	border-width: 2px;
	border-style: solid;
	float: left;
}
.player-status {
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 40px;
	color: black;
	background-color: gray;
	top: 2px;
	left: 52px;
	border-color: white;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	text-align: center;
	opacity: 0.5;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}
.player-hidden{
	width: 0px;
	height: 0px;
	overflow: hidden;
}
