<div class="player" *ngIf="videoService.player_video">
	<div>
		<div *ngIf="ytEvent">
			<div class="player-status" *ngIf="ytEvent == 3">
				&#9201;
			</div>
			<div class="player-status" *ngIf="ytEvent == 1">
				&#9205;
			</div>
			<div class="player-status" *ngIf="ytEvent == 2">
				&#9208;
			</div>
		</div>
		<div class="player-status" *ngIf="! ytEvent">
			&#9201;
		</div>
		<img 
			class="player-thumb"
			src="{{ videoService.player_video['thumb_med'] }}"
			height="{{ videoService.player_video['thumb_med_h'] }}"
			width="{{ videoService.player_video['thumb_med_w'] }}"
		/>
		<div class="player-title">
			{{ videoService.player_video['video_title'] }}
		</div>
		<div class="player-button" (click)="videoService.playerPreviousVideo()">
			&#9198;
		</div>
		<div *ngIf="ytEvent != 1" class="player-button" (click)="playVideo()">
			&#9205;
		</div>
		<div *ngIf="ytEvent == 1" class="player-button" (click)="pauseVideo()">
			&#9208;
		</div>
		<div class="player-button" (click)="videoService.playerNextVideo()">
			&#9197;
		</div>
	</div>
	<div class="player-hidden">
		<youtube-player
			[height]="videoService.player_video['thumb_def_h']"
			[width]="videoService.player_video['thumb_def_w']"
			[videoId]="videoService.player_video['id']"
			(ready)="savePlayer($event)"
			(change)="onStateChange($event)"
			[playerVars]="playerVars">
		</youtube-player>
	</div>
</div>
