<div 
	[ngClass]="getVideoClass()">
	<div>
		<img 
			class="video-thumb"
			src="{{ video['thumb_def'] }}"
			height="{{ video['thumb_def_h'] }}"
			width="{{ video['thumb_def_w'] }}"
		/>
		<div [ngClass]="getVideoButtonClass()" (click)="play()">
			&#9205;
		</div>
		<div [ngClass]="getInfoButtonClass()" (click)="info()">
			i
		</div>
		<div class="video-button" 
		(click)="delete()"
		*ngIf="type == 'playlist'"
		>
			&#10006;
		</div>
		<div class="video-button" 
		(click)="add()"
		*ngIf="type == 'related' || type == 'search'"
		>
			&#10010;
		</div>
		<div class="video-title">
			{{ video['video_title'] }}
		</div>
	</div>
	<div 
		tabindex="0"
		class="video-info-holder" 
		*ngIf="info_visible">

		<div class="video-info">
			<img 
				class="video-thumb"
				src="{{ video['thumb_high'] }}"
				height="{{ video['thumb_high_h'] }}"
				width="{{ video['thumb_high_w'] }}"
			/>
			<div class="video-info-eks" (click)="info()">x</div>
			<div class="video-info-panel">
				<div class="video-info-title">
					<b>Title: </b>
				</div>
				<div class="video-info-text">
					{{ video['video_title'] }}
				</div>
				<div class="video-info-title">
					<b>Channel: </b>
				</div>
				<div class="video-info-text">
					{{ video['channel_name'] }}
				</div>
				<div class="video-info-title">
					<b>Description: </b>
				</div>
				<div class="video-info-description">
					{{ video['description'] }}
				</div>
			</div>
		</div>	
	</div>
</div>
