.video, .video-playing{
	border-radius: 10px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	float: left;
	margin: 3px;
	display: inline;
	width: 180px;
	background-color: navy;
	height: 118px;
	padding: 5px;
	cursor: grab;
	overflow: hidden;
}
.video-playing{
	background-color: maroon;
}
.video-title {
	float: left;
	font-size: 10px;
	text-overflow: hidden;
	color: white;
	padding: 5px;
}
.video-button, .video-button-active{
	font-size: 20px;
	color: white;
	width: 40px;
	height: 25px;
	background-color: black;
	float: left;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	margin-left: 8px;
	margin-top: 5px;
}
.video-button:hover{
	color: gray;
}
.video-button-active{
	color: red;
}
.video-thumb{
	border-color: white;
	border-width: 1px;
	border-style: solid;
	float: left;
}
.video-info-holder{
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	height:0px;
}
.video-info{
	position: relative;
	z-index: 1;
	width: 950px;
	min-height: 362px;
	margin: auto;
	margin-top: 200px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	background-color: navy;
	font-size: 13px;
	color: white;
	cursor: default;
}
.video-info-eks{
	position: relative;
	top: 0px;
	right: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	float: right;
	font-size: 30px;
	background-color: black;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	color: white;
	cursor: pointer;
}
.video-info-eks:hover{
	color: gray
}
.video-info-text, .video-info-description{
	float: left;
	width: 300px;
	padding: 3px;
	color: white;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	height: 40px;
	padding-top: 10px;
	overflow: hidden;
}
.video-info-description{
	height: 220px;
	overflow: auto;
}
.video-info-title{
	float: left;
	text-align: right;
	width: 110px;
	height: 40px;
	padding: 3px;
	color: white;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	padding-right: 10px;
	padding-top: 10px;
}
.video-info-panel {
	width: 429px;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}
