<div id="master_container">
	<div id="navbar">
		<img src="assets/logo.png"/>
		<div class="navcon">
			<app-login></app-login> 
		</div>
		<div class="navcon">
			<app-search-bar></app-search-bar>
		</div>
		<div *ngIf="loginService.currentUser.loged_in" class="navcon">
			<app-playlist-list></app-playlist-list>
		</div>
		<div *ngIf="loginService.currentUser.loged_in" class="navcon">
			<app-friend-list></app-friend-list>
		</div>
		<div *ngIf="loginService.currentUser.loged_in" class="navcon">
			<app-chat-list></app-chat-list>
		</div>
	</div>
	<app-search-holder></app-search-holder>
	<app-related-holder></app-related-holder>
	<app-playlist-holder></app-playlist-holder>
	<app-player></app-player>
</div>
