#master_container {
	background-color: lightblue;
	width: 1200px;
	min-height: 900px;
	border-color: white;
	border-style: dotted;
	border-width: 1px;
	padding: 3px;
	margin: auto;
}
#navbar {
	background-color: lightblue;
	width: 1188px;
	height: 64px;
	border-color: blue;
	border-style: solid;
	border-width: 3px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	padding-right: 10px
}
.navcon {
	min-width: 124px;
	height: 38px;
	font-size: 22px;
	float: right;
	background-color: blue;
	text-align: center;
	padding-bottom: 2px;
	padding-top: 3px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom-right-radius:30px;
	border-bottom-left-radius:30px;
	margin-left: 10px;
}
