<div *ngIf="! loginService.currentUser.loged_in"  class="nav_click" (click)="togglePopup()" >Login</div>
<div *ngIf="loginService.currentUser.loged_in">
	<div id="username">
	{{ loginService.currentUser.name }}
	</div>
	<div id="logout" (click)="logout()">
		(logout)
	</div>
</div>
<div *ngIf="login_visible"   id="popup_holder">
	<div id="popup">
		<div class="nav_click" id="eks" (click)="togglePopup()">
			x
		</div>
		<h3>Login</h3>
		<p>Welcome to <b>ytplay</b>, the current version of the site is closed to the wider public.</p>
		<p>If you've been chosen to participate in the closed beta you have the credentials to log in below.</p>
		<p *ngIf="loginService.error_text" id="error_text"> {{ loginService.error_text }} </p>
		<input [(ngModel)]="loginService.currentUser.name" placeholder="username"/>
		<input (keyup)="onKeyLogin($event)" [(ngModel)]="loginService.currentUser.password" placeholder="password" type="password"/>
		<button id="login_button" (click)="login()" >login</button>
	</div>
</div>
