input {
	line-height:30px;
}
#popup_holder {
	height: 0px;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
}
#popup {
	position: relative;
	z-index: 1;
	width: 250px;
	min-height: 300px;
	margin: auto;
	margin-top: 200px;
	border-color: blue;
	border-style: solid;
	border-width: 2px;
	padding: 20px;
	background-color: white;
	padding-top: 0px;
	font-size: 13px;
}
input {
	margin: 5px;
}
#login_button {
	margin: 5px;
}
#eks {
	position: relative;
	top: -1px;
	right: -20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	float: right;
	font-size: 20px;
	background-color: blue;
	border-color: blue;
	border-style: solid;
	border-width: 1px;
}
#username {
	font-size: 22px;
	color: white;
	cursor: context-menu;
	float: left;
}
#logout {
	font-size: 10px;
	cursor: pointer;
	color: white;
	float: left;
}
#logout:hover{
	color:gray;
}
#error_text {
	color: red;
	font-size: 15px;
}
