<div 
dragula="VIDEOS"
id="video.playlist.id"
[(dragulaModel)]="videoService.playlist_videos" 
class="playlist-holder">
	<div
		*ngFor="let video of videoService.playlist_videos"
	>
		<app-video
			[type]="'playlist'"
			[video]="video">
		</app-video>
	</div>
</div>
<div 
	*ngIf="! videoService.playlist_videos.length
	       && ! videoService.dragging" 
	class="playlist-holder-title">
	Playlist
</div>
