<div *ngIf="loginService.currentUser.loged_in"  class="nav_click" (click)="toggleFriends()" >
	Friends
</div>
<div *ngIf="friends_visible" class="friends-popup">
	<div class="friends-header">
		friends
	</div>
	<div
	id="friends.list.id"
	dragula="FRIENDS"
	[(dragulaModel)]="loginService.currentUser.friends"
	>
		<div
		*ngFor="let friend of loginService.currentUser.friends"
		>
			<app-friend 
			[friend]="friend"
			[variation]="'buddy'"
			*ngIf="friend"
			></app-friend>
		</div>
	</div>
	<div class="friends-header">
		invited
	</div>
	<div 
	*ngFor="let friend of loginService.currentUser.invited_friends"
	>
		<app-friend 
		[friend]="friend"
		[variation]="'to_be_buddy'"
		*ngIf="friend"
		></app-friend>
	</div>
	<div class="friends-header">
		requested
	</div>
	<div 
	*ngFor="let friend of loginService.currentUser.requested_friends"
	>
		<app-friend 
		[friend]="friend"
		[variation]="'wanna_be_buddy'"
		*ngIf="friend"
		></app-friend>
	</div>
	<div class="friends-header">
		search
	</div>
	<div class="friend-search">
		<input 
		class="friends-search-bar"
		placeholder="search"
		(keyup)="search($event)"
		[(ngModel)]="search_text"
		/>
	</div>
	<div *ngFor="let friend of loginService.friend_search_result">
		<app-friend 
		[friend]="friend"
		[variation]="'addable_buddy'"
		*ngIf="friend"
		></app-friend>
	</div>
</div>
