.friends-popup, .friends-search{
	background-color: blue;
	z-index: 3;
	position: relative;
	width: 120px;
	top: 3px;
	padding: 2px;
	padding-bottom: 4px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.friends-search{
	
}

.friends-search-bar{
	width: 90px;
	background-color: blue;
	border: none;
	color: white;
	background-image: none;
}

.friends-header{
	width: 120px;
	height: 15px;
	color: white;
	background-color: blue;
	font-size: 14px;
	border-width: 1px 0px 1px 0px;
	border-color: gray;
	border-style: solid;
	margin-top: 4px;
	margin-bottom: 2px;
}

.friend-add{

}
