.search-bar{
	position: relative;
	line-height: 17px;
	font-size: 14px;
	background-image: none;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	background-color: blue;
	width: 150px;
	color: white;
}
