.playlist, .playlist-selected{
	padding: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-left: 20px;
	margin: 4px;
	margin-right: 4px;
	margin-left: 4px;
	margin-left: auto;
	margin-right: auto;
	border-color: navy;
	border-width: 2px;
	border-style: solid;
	border-radius: 15px;
	font-size: 20px;
	background-color: blue;
	color: black;
	width: 268px;
	cursor: pointer;
	height: 30px;
	text-align: left;
	padding-top: 7px;
}

.playlist:hover{
	color:brown;
}

.playlist-selected{
	border-color: gray;
	background-color: maroon;
}
.playlist-button-play{
	width: 20px;
	height: 20px;
	margin: 2px;
	padding: 6px;
	color: white;
	background-color: black;
	border-radius: 10px;
	float: left;
	cursor: pointer;
	font-size: 17px;
}
.playlist-button-play:hover{
	color: gray
}
.playlist-text{
	float: left;
}
