<div 
[ngClass]="getPlaylistClass()"
(click)="select()"
>
	<div 
	class="playlist-button-play"
	(click)="play()">
		&#9205;
	</div>
	<div
	class="playlist-text">
	{{ playlist.name }}
	</div>
	<div 
	class="playlist-button-play"
	(click)="delete()">
		&#10006;
	</div>
	
</div>
