<div [attr.data-id]="friend.id" [ngClass]="getClass('friend')">
	<div class="expand_button" 
	(click)="toggleExpand()"
	*ngIf="variation == 'buddy'"
	>
		<div *ngIf="! expanded">
			&#11208;
		</div>
		<div *ngIf="expanded">
			&#11206;
		</div>
	</div>
	<div class="expand_button" 
	(click)="addFriend(friend)"
	*ngIf="variation == 'addable_buddy'"
	>
		&#10004;
	</div>
	<div class="expand_button" 
	(click)="uninvite(friend)"
	*ngIf="variation == 'to_be_buddy'"
	>
		&#10006;
	</div>
	<div class="expand_button" 
	(click)="toggleExpand()"
	*ngIf="variation == 'wanna_be_buddy'"
	>
		<div *ngIf="! expanded">
			&#11208;
		</div>
		<div *ngIf="expanded">
			&#11206;
		</div>
	</div>
	<div class="name_text"> {{  friend.name }} </div>
</div>
<div *ngIf="expanded && variation == 'buddy'" class="friend_expand">
	<div (click)="unfriend(friend)" class="friend_button">
		unfriend
	</div>
	<div (click)="addToChat()" class="friend_button">
		chat
	</div>
	<div class="friend_button">
		bomb
	</div>
</div>
<div *ngIf="expanded && variation == 'wanna_be_buddy'" class="friend_expand">
	<div (click)="loginService.addFriend(friend)" class="friend_button">
		accept
	</div>
	<div (click)="denyRequest()" class="friend_button">
		deny
	</div>
</div>
