.friend, .addable-friend, .wanna-be-friend, .to-be-friend{
	color: black;
	width: 104px;
	height: 20px;
	background-color: DarkTurquoise;
	font-size: 15px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
	padding: 4px;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	text-align: left;
	cursor: grab;
}

.to-be-friend{
	cursor: default;
	border-color: brown;
	background-color: yellow;
}
.wanna-be-friend{
	cursor: default;
	border-color: brown;
	background-color: green;
}
.addable-friend{
	cursor: default;
	border-color: brown;
	background-color: white;
}
.expand_button:hover{
	color: Maroon;
}
.expand_button{
	width: 13px;
	cursor: pointer;
	float: left;
}
.friend_expand{
	width: 98px;
	min-height: 20px;
	background-color: DarkTurquoise;
	color: brown;
	font-size: 15px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: none;
	padding: 1px;
	margin: 2px;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 0px;
	cursor: grab;
}

.name_text{
	float:left;
}
.friend_button{
	cursor: pointer;
	width: 94px;
	border-color: white;
	border-width: 1px;
	border-style: solid;
	margin: 1px;
	color: white;
	background-color: indigo;
}
.friend_button:hover{
	color: gray;
}
