<div class="nav_click" (click)="toggleChat()" >
	Chat
</div>
<div *ngIf="chat_visible" class="chat-popup">
	<div class="chat-container">
		<div *ngIf="chatService.current_chat">
		<div class="chat-messages">
		<div
		*ngFor="let message of chatService.current_chat.messages"
		>
			<div [ngClass]="getMessageClass(message)">
				<div
				[ngClass]="getMessageNameClass(message)">
					{{ message.poster }}
				</div>
				{{ message.content }}
			</div>
		</div>
		</div>
		<textarea
		placeholder="write message here"
		class="chat-message-input"
		[(ngModel)]="message_box">
		</textarea>
		<div
		class="chat-message-send-button"
		(click)="postMessage()">
			send
		</div>
		</div>
		<div 
		*ngIf="! chatService.current_chat"
		class="chat-message-tag">
			messages go here
		</div>
		
	</div>
	<div style="float: left">
		<div class="chat-list">
			<div
			*ngFor="let chat of chatService.chats"
			>
				<app-chat
				*ngIf="chat"
				[chat]="chat">
				</app-chat>
			</div>
			<div
			*ngIf="! tmp_chat"
			class="new-chat-button"
			(click)="newChat()">
				+
			</div>
			<div
			*ngIf="tmp_chat"
			class="chat"
			(click)="saveNewChat()">
				{{ tmp_chat.name }}
			</div>
		</div>
		<div
		*ngIf="chatService.current_chat">
		<div 
		class="chat-chaters"
		dragula="FRIENDS"
		[(dragulaModel)]="chatService.current_chat.chaters"
		>
			<div
			*ngFor="let friend of chatService.current_chat.chaters">
				<app-friend 
				[friend]="friend"
				[variation]="'chater'"
				*ngIf="friend"
				></app-friend>
			</div>
		</div>
		</div>

	</div>

</div>
