.chat-popup{
	background-color: blue;
	z-index: 3;
	position: absolute;
	width: 400px;
	padding: 2px;
	top: 56px;
	height: 390px;
	margin-left: -262px;
	border-color: gray;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
}
.chat-container, .chat-list, .chat-chaters{
	background-color: white;
	margin: 2px;
	padding: 2px;
	border-color: gray;
	border-width: 1px;
	border-style: solid;
}
.chat-container{
	height: 380px;
	width: 240px;
	float: left;

}
.chat-list{
	height: 232px;
	width: 140px;
	padding: 1px;
	overflow-y: scroll;
}
.chat-chaters{
	height: 142px;
	width: 138px;
	padding-top: 2px;
	padding-bottom: 2px;
	overflow-y: scroll;
}
.chat-messages{
	overflow-y: scroll;
	width: 100%;
	height: 334px;
}
.chat-message-input{
	float:left;
	width: 174px;
}
.chat-message-send-button{
	float: left;
	cursor: pointer;
	font-size: 15px;
	background-color: blue;
	color: white;
	border-radius: 10px;
	height: 30px;
	width: 60px;
	padding-top: 10px;
	margin-top: 2px;
	margin-left: 2px;
}
.chat-message-send-button:hover{
	color: gray;
}
.chat-message, .chat-message-other{
	width: 150px;
	background-color: green;
	border-radius: 10px;
	margin-bottom: 5px;
	font-size: 12px;
	text-align: left;
	padding: 8px;
	overflow: hidden;
}
.chat-message-other{
	margin-left: 60px;
	background-color: orange;
	padding-top: 2px;
}
.chat-message-tag{
	height: 100%;
	width: 100%;
	font-size: 20px;
	padding-top: 170px;
	color: gray;
}

.chat-message-name{
	display: none;
}

.chat-message-name-other{
	font-size: 9px;
	margin-left: 60px;
}
.new-chat-button{
	cursor: pointer;
}
.new-chat-button:hover{
	color: brown;
}
