.chat, .chat-selected{
	padding: 1px;
	padding-left: 3px;
	margin: 1px;
	margin-left: auto;
	margin-right: auto;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	font-size: 16px;
	background-color: DarkSeaGreen;
	color: black;
	width: 110px;
	cursor: pointer;
	height: 20px;
}

.chat:hover{
	color:brown;
}

.chat-selected{
	border-color: gray;
	background-color: blue;
}


.expand_button:hover{
	color: Maroon;
}
.expand_button{
	width: 13px;
	cursor: pointer;
	float: left;
}
.chat_expand{
	width: 108px;
	min-height: 20px;
	background-color: DarkTurquoise;
	color: brown;
	font-size: 15px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: none;
	padding: 1px;
	margin: 2px;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 0px;
	cursor: grab;
}

.name_text{
	float:left;
}
.chat_button{
	cursor: pointer;
	width: 104px;
	border-color: white;
	border-width: 1px;
	border-style: solid;
	margin: 1px;
	color: white;
	background-color: indigo;
}
.chat_button:hover{
	color: gray;
}
.chat-rename-input{
	background-image: none;
	line-height: 12px;
	font-size: 16px;
	background-color: blue;
	border: none;
	width: 70px;
	float: left;
}
.chat-rename-button{
float: left;
    width: 15px;
    margin-left: 3px;
    background-color: yellow;
    height: 15px;
    color: green;
    font-size: 12px;
    margin-top: 2px;
}
