<div
(click)="setCurrentChat(chat)"
[ngClass]="getChatClass(chat)"
>
	<div *ngIf="! chat_renaming">
		<div class="expand_button" 
		(click)="toggleExpand()"
		>
			<div *ngIf="! chat_expanded">
				&#11208;
			</div>
			<div *ngIf="chat_expanded">
				&#11206;
			</div>
		</div>
		<div
		class="name_text"> 
			{{  chat.name }} 
		</div>
	</div>
	<div *ngIf="chat_renaming">
		<input
		[(ngModel)]="tmp_name"
		class="chat-rename-input"
		placeholder="{{ chat.name }}"
		/>
		<div
		(click)="confirmRename()"
		class="chat-rename-button"
		>
		&#10003;
		</div>
		<div
		style="color: red"
		(click)="denyRename()"
		class="chat-rename-button"
		>
		&#10007;
		</div>
	</div>
</div>
<div *ngIf="chat_expanded" class="chat_expand">
	<div (click)="delete()" class="chat_button">
		delete chat
	</div>
	<div (click)="rename()" class="chat_button">
		rename
	</div>
	<div (click)="leave()"class="chat_button">
		leave
	</div>
</div>
